.player-wrapper {
  color: #000000;
  max-width: 100%;
}
video {
  width: 100%;
}
.left-side_wrapper {
  max-height: 80vh;
}
.videos-list-wrapper {
  overflow: auto;
  min-height: 70vh;
  min-width: 20vw;
}

.component-wrapper {
  width: 80vw;
  height: 80vh;
  max-height: min-content;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 15px;
  padding: 3vh 10vw;
}

.component-wrapper > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.footer-wrapper {
  height: 10vh;
  padding: 0 10vw;
}

footer {
  flex: 5;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  height: 100%;
}

.example-label {
  display: flex;
  font-family: Verdana, Geneva, sans-serif;

  justify-content: center;

  align-items: center;
  font-size: 14px;
  flex: 3;
}

.example-button-row {
  display: flex;
  flex-direction: column;
  margin: 8px;
  flex: 8;
}

a {
  margin: 2px;
  font-family: Verdana, Geneva, sans-serif;
  text-decoration: none;
}
.bottom-list {
  padding: 10px 0;
}
.top-list {
  padding: 10px 0;
}

.top-list a {
  font-size: 14px;
  color: #000000c2;
}
.bottom-list a {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.384);
}

.item-grid {
  display: grid;
  grid-template-columns: auto auto auto;

  grid-gap: 20px;
}
.index {
  padding: 20px 10px;
}
.icon {
  font-size: 30px;
}

.details {
  padding: 20px 10px;
  font-size: small;
  text-align: justify;
}
.list-title{
  text-align: left;
  font-size: large;
  font-family: Verdana, Geneva, sans-serif;
  color: #00000098;
}