<div class="component-wrapper">
  <vg-player (onPlayerReady)="onPlayerReady($event)">
    <vg-overlay-play></vg-overlay-play>
    <vg-buffering></vg-buffering>

    <vg-scrub-bar>
      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>

    <vg-controls>
      <vg-play-pause></vg-play-pause>
      <vg-playback-button></vg-playback-button>

      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

      <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

      <vg-mute></vg-mute>
      <vg-volume></vg-volume>

      <vg-fullscreen></vg-fullscreen>
    </vg-controls>

    <video
      #media
      [vgMedia]="media"
      [src]="downloadUrl"
      id="singleVideo"
      preload="auto"
    ></video>
  </vg-player>
  <div class="left-side-wrapper">
    <div class="videos-list-wrapper">
      <mat-list>
        <div mat-subheader>
          My videos
          <button (click)="gotodashboard()" style="padding-left: 15vw" mat-icon-button>
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
        <mat-list-item
          class="item-grid"
          *ngFor="let video of videos$ | async; let i = index"
          (click)="currentVid != video.vid ? gotoVideo(video) : null"
        >
          <div style="color: grey" class="index">
            {{ i + 1 }}
            <mat-divider [vertical]="true"></mat-divider>
          </div>
          <mat-icon mat-icon class="icon">folder</mat-icon>
          <div class="details">
            <div
              [ngStyle]="{
                color:
                  currentVid == video.vid
                    ? 'rgba(255, 60, 60, 0.877)'
                    : 'rgba(0, 0, 0, 0.658)'
              }"
              mat-line
            >
              {{ video.name }}
            </div>
            <div style="color: grey" mat-line>{{ video.views }} views</div>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>

<!----------------- footer  -------------->

<div class="footer-wrapper">
  <div class="divider"><mat-divider></mat-divider></div>
  <footer>
    <div class="example-label"><img src='../../../../../assets/logo.png' class="logo"></div>
    <div class="example-button-row">
      <div class="top-list">
        <a href="https://www.google.com/" target="_blank">About </a>
        <a href="https://www.google.com/" target="_blank">Press </a>
        <a href="https://www.google.com/" target="_blank">Copyright </a>
        <a href="https://www.google.com/" target="_blank">Advertise </a>
        <a href="https://www.google.com/" target="_blank">Help </a>
      </div>
      <mat-divider></mat-divider>
      <div class="bottom-list">
        <a href="https://www.google.com/" target="_blank">Terms </a>
        <a href="https://www.google.com/" target="_blank">Privacy </a>
      </div>
    </div>
    <div class="example-label">Langages</div>
  </footer>
</div>
