<mat-progress-spinner
  class="spinner"
  color="warn"
  *ngIf="submitted"
  [value]="uploadProgress$ | async"
  mode="determinate"
>
</mat-progress-spinner>
<div class="container">
  <div class="dropzone" appDnd>
    <input
      type="file"
      id="fileDropRef"
      (change)="onFileSelected($event)"
      accept="video/*"
    />
    <img src="../../../../assets/upload.png" />
    <h4>Select Video files to upload</h4>
    <h5>or drag and drop video files</h5>
    <button mat-flat-button for="fileDropRef">Upload Video</button>
  </div>
</div>
